
@model PizzaShop.Services.Xml.XmlModels.ShopContactViewModel

<div class="modal-dialog modal-shopContact" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                <span>&times;</span>
            </button>
            <h4>Edytuj kontakt</h4>
        </div>
        @using (Html.BeginForm("Edit", "Contact", new { area = "admin" }, FormMethod.Post, null))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row modal-body">
                <div class="col-md-12">
                    <h4 class="col-md-12 shopContact">Kontakt:</h4>
                    <div class="form-group">
                        @Html.LabelFor(m => m.City, new { @class = "col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(m => m.City, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(m => m.City, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Street, new { @class = "col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(m => m.Street, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(m => m.Street, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.PostalCode, new { @class = "col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(m => m.PostalCode, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(m => m.PostalCode, null, new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <h4 class="col-md-12 shopContact">Adres:</h4>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(m => m.Email, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.InformationContact, new { @class = "col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(m => m.InformationContact, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(m => m.InformationContact, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.DeliveryContact, new { @class = "col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(m => m.DeliveryContact, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(m => m.DeliveryContact, null, new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-admin">Zapisz zmiany</button>
            </div>
        }
    </div>
</div>

<div id="ModalBox" class="modal fade" tabindex="-1" role="dialog" data-backdrop="false">
    <!-- tutaj ajaxem laduje partial view z okienkiem modal -->
    <!-- okienka edit i create -->
</div>

@Scripts.Render("~/bundles/jqueryval")