
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@model IEnumerable<PizzaShop.Models.PizzaShopModels.Entities.Component>

<div class="col-md-12">
    <h4 class="alert alert-warning alert-dismissible">
        <span class="errorMsg">@ViewBag.ModelIsNotValid</span>
        <button role="button" class="close">&times;</button>
    </h4>
    <h3 class="h3Title pull-left">Napoje</h3>
    <button data-toggle="modal" data-target="#ModalBox" data-ajax-url="@Url.Action("CreatePartial","Component",new { area="admin" })" )
            type="button" class="btnCreate pull-right col-md-1 btn btn-success">
        <span>Nowy</span>
    </button>
    <table id="Table" class="table table-responsive">
        <tr>
            <th>Nazwa</th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var component in Model)
        {
            <tr>
                <td>@component.Name</td>
                <td>
                    <button type="button" role="button" class="btn btn-warning btnEdit" data-id="@component.ID"
                            data-toggle="modal" data-target="#ModalBox" data-ajax-url="@Url.Action("Edit","Component",new { area="admin" })">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                </td>
                <td>
                    <button data-id="@component.ID" type="submit" role="button" class="btn btn-danger btnDelete"
                            data-toggle="modal" data-target="#ModalBox" data-ajax-url="@Url.Action("Delete","Component",new { area="admin" })">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </td>
            </tr>
        }
    </table>
</div>

<div id="ModalBox" class="modal fade" tabindex="-1" role="dialog" data-backdrop="false">
    <!-- tutaj ajaxem laduje partial view z okienkiem modal -->
    <!-- okienka edit i create -->
</div>