
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@model IEnumerable<PizzaShop.Models.PizzaShopModels.Entities.Pizza>
@using PizzaShop.Models.PizzaShopModels.Entities;

<div class="col-md-12">
    <h3 class="h3Title pull-left">Pizza</h3>
    <button data-toggle="modal" data-target="#ModalBox" data-ajax-url="@Url.Action("CreatePartial","Pizza",new { area = "admin" })"
            type="button" class="btnCreate pull-right col-md-1 btn btn-success">
        <span>Nowe</span>
    </button>
    <table id="Table" class="table table-responsive">
        <tr>
            <th>Nazwa</th>
            @foreach (var pizzaSize in Model.Select(s => s.PizzaSizePrices).First())
            {
                <th>@pizzaSize.PizzaSize.Size</th>
            }
            <th></th>
            <th></th>
        </tr>
        @foreach (var pizza in Model)
        {
            <tr>
                <td>
                    <span>@pizza.Name</span>
                    <br />
                    <span class="component">
                        @if (pizza.Components != null && pizza.Components.Count != 0)
                        {
                            @Html.Partial("~/Areas/Admin/Views/Component/_ComponentPartial.cshtml", pizza.Components)
                        }
                        else
                        {
                            <strong class="component">Brak składników.</strong>
                        }
                    </span>
                </td>
                @foreach (var price in pizza.PizzaSizePrices)
                {
                    <td>@string.Format("{0:C}", price.Price)</td>
                }
                <td>
                    <button type="button" role="button" class="btnEdit btn btn-warning" data-id="@pizza.ID"
                            data-toggle="modal" data-target="#ModalBox" data-ajax-url="@Url.Action("Edit","Pizza",new { area = "admin" })">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                </td>
                <td>
                    <button type="button" role="button" class="btnDelete btn btn-danger" data-id="@pizza.ID"
                            data-toggle="modal" data-target="#ModalBox" data-ajax-url="@Url.Action("Delete","Pizza",new { area = "admin" })">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </td>
            </tr>
         }
    </table>
</div>

<div id="ModalBox" class="modal fade" tabindex="-1" role="dialog" data-backdrop="false">
    <!-- tutaj ajaxem laduje partial view z okienkiem modal -->
    <!-- okienka edit i create -->
</div>