<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div id="Container" class="container">
        <header class="navbar navbar-pizza">
            <div class="container-fluid">
                <div id="Logo" class="pull-left">
                    @Html.ActionLink("Pizza Shop", "", "",null,new { @class = "navbar-logo" })
                </div>
                <div id="OrderNumber" class="navbar-right">
                    <p>Zamówienia telefoniczne: <span>Dostępne</span></p>
                    <p>Pod numerem: 555 111 222</p>
                </div>
                <div class="clearfix"></div>
                <nav class="navbar-right">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Strona główna", "", "")</li>
                        <li>@Html.ActionLink("Menu", "", "")</li>
                        <li>@Html.ActionLink("Galeria", "", "")</li>
                        <li>@Html.ActionLink("Kontakt", "", "")</li>
                    </ul>
                </nav>
            </div>
        </header>
        <main class="container-fluid">
            <div class="row">
                @RenderBody()
            </div>
        </main>
    </div>
    <footer>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-offset-1 col-md-5">
                    <h4 style="margin-left: 10px;">Kontakt:</h4>
                    <hr />
                    <div class="col-md-6">
                        <p><strong>Pizza shop</strong></p>
                        <p>Adres: 00-000 Fake Kraków</p>
                        <p>ul. Fake ulica 00</p>
                    </div>
                    <div class="col-md-6">
                        <p>E-mail: fakeEmail@@gmail.com</p>
                        <p>Telefon: 000 000 000</p>
                    </div>
                </div>
                <div class="col-md-2">
                    <h4>Godziny otwarcia:</h4>
                    <hr />
                    <p>Pon.-Czw.: 12.00 - 22.00</p>
                    <p>Pt.-Sob.: </p>
                    <p>Niedź.: 12.00 - 22.00</p>
                </div>
                <div class="col-md-3">
                    <h4>Oferujemy:</h4>
                    <hr />
                    <p>Pizza,Sałatki, Dodatki, Napoje,Sosy</p>
                </div>
            </div>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
