<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div id="Container" class="container">
        <nav class="navbar navbar-pizza">
            <div class="container-fluid">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#Navbar-Collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Pizza Shop", "", "", null, new { @class = "navbar-brand navbar-logo" })
                </div>

                <div id="Navbar-Collapse" class="collapse navbar-collapse">
                    @Html.Partial("_LoginPartial")
                    <div class="clearfix"></div>
                    @Html.Action("SiteMenuPartial", "Home")
                </div>
            </div>
        </nav>
        @*
        <nav class="navbar navbar-pizza">
            <div class="container-fluid">
                <div id="Logo" class="navbar-left">
                    @Html.ActionLink("Pizza Shop", "", "", null, new { @class = "navbar-logo" })
                </div>
                <div class="navbar-right" style="border: 1px solid red;">
                    @Html.Partial("_LoginPartial")
                    <div class="clearfix"></div>
                    <div id="OrderPhoneNumber" class="navbar-right">
                        <p>Zamówienia : @Html.Action("DeliveryContact", "Home")</p>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="navbar-right" style="border: 1px solid red; margin:0;padding:0;">
                    @Html.Action("SiteMenuPartial","Home")
                </div>
            </div>
        </nav>
        *@
        <main class="container-fluid">
            @RenderBody()
        </main>
    </div>
    <footer class="col-md-12">
        @Html.Action("ShopContactPartial","Home")
        @Html.Action("OpeningHoursPartial","Home")
        <div class="col-md-3">
            <h4>Oferujemy:</h4>
            <hr />
            <p>Pizza,Sałatki, Napoje,Sosy</p>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryUI")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/basic")
    @RenderSection("scripts", required: false)
</body>
</html>
