@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul id="LoggedList" class="nav navbar-nav navbar-right">
            <li>
                <a href="@Url.Action("Index","Manage")" title="Manage" id="userLink">
                    <span class="glyphicon glyphicon-user"></span>
                    @User.Identity.GetUserName()
                </a>
            </li>
            <li>@Html.ActionLink("Panel administracyjny", "Index", "Home", new { area = "admin" },
                                 htmlAttributes: new { id = "adminPanelLink" })</li>
            <li><a id="logoutLink" href="javascript:document.getElementById('logoutForm').submit()">Wyloguj</a></li>
        </ul>
    }
}
else
{
    <ul id="UlLogin" class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Logowanie", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
