<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        @Styles.Render("~/Content/adminCss")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        @using MvcSiteMapProvider.Web.Html;
        @using MvcSiteMapProvider.Web.Html.Models;

        <div id="Container" class="container-fluid">
            <header class="navbar navbar-admin">
                <div id="Logo">
                    @Html.ActionLink("Admin Panel","Index","Home",new { area = "admin" },new { @class = "navbar-brand" })
                </div>
                @using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm" }))
                {
                    @Html.AntiForgeryToken()
                    <ul id="SettingMenu" class="navbar-right nav navbar-nav">
                        <li>
                            <a href="@Url.Action("Index", "Manage", new { area = "" })">
                                <span class="glyphicon glyphicon-user"></span> Witaj:
                                <span style="letter-spacing: 1px;">@User.Identity.Name</span>
                            </a>
                        </li>
                        @if (User.IsInRole("superAdmin"))
                        {
                            <li>
                                <a href="@Url.Action("Index", "UserManage", new { area = "admin" })">
                                    <span class="glyphicon glyphicon-cog"></span>
                                    Zarządzanie użytkownikami
                                </a>
                            </li>
                        }
                        <li>
                            <a href="javascript:document.getElementById('logoutForm').submit()">
                                <span class="glyphicon glyphicon-log-out"></span>
                            </a>
                        </li>
                    </ul>
                }
            </header>
            <main>
                <nav class="col-md-2">
                    <ul id="AdminMenuCategories" class="nav nav-stacked" style="background: #e0dede;">
                        <li class="navHeading">
                            <img src="~/Content/Images/pizzaSlide_3.jpg" />
                        </li>
                        <li>@Html.ActionLink("Pizza Shop", "Index", "Home", new { area = "" },new { @class= "homeLink" })</li>
                        <li>@Html.ActionLink("Główna", "Index", "Home", new { area = "admin" }, null)</li>
                        <li>@Html.ActionLink("Nawigacja główna", "Index", "MenuItem", new { area = "admin" }, null)</li>
                        <li>@Html.ActionLink("Slider", "Index", "SliderItem", new { area = "admin" }, null)</li>
                        <li>@Html.ActionLink("Informacje główne", "Index", "InformationItem", new { area = "admin" }, null)</li>
                        <li>@Html.ActionLink("Wydarzenia", "Index", "Event", new { area = "admin" }, null)</li>
                        <li>@Html.ActionLink("Nowości", "Index", "News", new { area = "admin" }, null)</li>
                        <li class="dropdown">
                            <a id="MenuLink" href="#" type="button" role="button">
                                Menu
                                <span class="caret"></span>
                            </a>
                            <ul class="nav list-unstyled sublist hide">
                                <li>@Html.ActionLink("Pizza", "Index", "Pizza", new { area = "admin" }, null)</li>
                                <li>@Html.ActionLink("Sosy", "Index", "Sauce", new { area = "admin" }, null)</li>
                                <li>@Html.ActionLink("Sałatki", "Index", "Salad", new { area = "admin" }, null)</li>
                                <li>@Html.ActionLink("Napoje", "Index", "Drink", new { area = "admin" }, null)</li>
                            </ul>
                        </li>
                        <li>@Html.ActionLink("Składniki", "Index","Component",new { area = "admin" }, null)</li>
                        <li>@Html.ActionLink("Kontakt", "Index", "Contact", new { area = "admin" }, null)</li>
                    </ul>
                </nav>
                <section id="MainSection" class="col-md-10">
                    <div class="row">
                        <div id="SideMap" class="col-md-12">
                            @Html.MvcSiteMap().SiteMapPath()
                        </div>
                        @RenderBody()
                    </div>
                </section>
            </main>
        </div>
    </body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryUI")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/admin")
</html>
